<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'goods:base2_handle' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <ul>
        <li>
            <label>商品类别</label>
            <input type="text" name="ttitle">
        <>
        <li>
            <label>商品名</label>
            <input type="text" name="gtitle">
        <>
        <li>
            <label>图片位置</label>
            <input type="file" name="gpic">
        <>
        <li>
            <label>价格</label>
            <input type="text" name="gprice">
        <>
        <li>
            <label>单位</label>
            <input type="text" name="gunit">
        <>
        <li>
            <input type="submit" value="上传">
        <>
    </ul>
</form>
</body>
<html>
