{% extends 'base.html' %}
{% block contest %}
    <div>

        <div class="contact-header">
            <h1><a href="{% url 'logo:messages' %}">联系我们</a></h1>
            <span>大冶市云阿拉丁科技有限公司</span>
            <span>Daye Aladdin Technology Co,Ltd</span>
        </div>
        <ul class="contact-icon">
            <li><span></span><span>邮件:</span><span>123@dayeyunalading.com</span></li>
            <li><span></span><span>电话:</span><span>0714-8868331</span></li>
            <li><span></span><span>公司地址:</span><span>大冶市大冶大道116号2栋金穗小区B栋201号</span></li>
        </ul>

    </div>
{% endblock contest %}